<div class="container">
  <h1>Stupid coaching</h1>


<div class="card">
  <h2> <%= @ask %></h2>
  <h3 class="lib"> - You </h2>
</div>
  <div class="card">
    <h2> <%= @answer %></h2>
    <h3 class="lib"> - Your Coach</h2>
</div>

  <%= link_to "Ask new question", ask_path , class: "btn btn-primary" %>

  <!-- <button type="submit" class="btn btn-primary">New question !</button> -->

</div>
