<h1>Questions#ask</h1>


<form class="form-inline" action="/answer">
  <div class="form-group" >
    <input type="text" class="form-control" placeholder="Question" name="question">
  </div>
  <button type="submit" class="btn btn-primary">Ask !</button>
</form>
